{% extends "layout_logado.twig" %}
{% block title %} Alteração de Stats - Emprestimo {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <form class="form-horizontal" method="post" action="/home/status/alterar">
                <fieldset>
                    <legend>Alteração de Status - Emprestimo</legend>
                    <div class="form-group">
                        <label for="equipamento" class="col-lg-2 control-label">Equipamento</label>
                        <div class="col-lg-10" style="max-height: 600px; overflow: auto">
                            {% if emprestimo.equipamentos|length > 0 %}
                                {% for equipamento in emprestimo.equipamentos %}
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                            <input checked disabled type="checkbox"
                                                   value="{{ equipamento.numPatrimonio }}"
                                                   name="equipamentos[]" id="{{ equipamento.numPatrimonio }}">
                                            <label for="{{ equipamento.numPatrimonio }}"
                                                   class="panel-title">{{ equipamento.nome }}</label>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <label class="col-lg-2 control-label">Nº de Patrimônio:</label>
                                                <div class="col-lg-10">
                                                    <label class="control-label">{{ equipamento.numPatrimonio }}</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-2 control-label">Tipo:</label>
                                                <div class="col-lg-10">
                                                    <label class="control-label">{{ equipamento.tipo }}</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-2 control-label">Descrição:</label>
                                                <div class="col-lg-10">
                                                    <label class="control-label">{{ equipamento.descricao }}</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-2 control-label">Marca/Modelo:</label>
                                                <div class="col-lg-10">
                                                    <label class="control-label">{{ equipamento.marca }}
                                                        /{{ equipamento.modelo }}</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-2 control-label">Qtd Disponível:</label>
                                                <div class="col-lg-10">
                                                    <label class="control-label">{{ equipamento.quantidadeDisponivel }}
                                                        itens disponíveis</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>Nenhum equipamento disponível</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="dataEmprestimo" class="col-lg-2 control-label">Data do Emprestimo</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control data-tipo"
                                   value="{{ emprestimo.dataEmprestimo.format('d/m/Y') }}" disabled id="dataEmprestimo"
                                   name="dataEmprestimo"
                                   placeholder="dia/mes/ano" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="dataDevolucao" class="col-lg-2 control-label">Data de Devolução</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control data-tipo"
                                   value="{{ emprestimo.dataDevolucao.format('d/m/Y') }}" disabled id="dataDevolucao"
                                   name="dataDevolucao"
                                   placeholder="dia/mes/ano" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="quantidadeSolicitada" class="col-lg-2 control-label">Quantidade Solicitada</label>
                        <div class="col-lg-10">
                            <input type="number" disabled value="{{ emprestimo.quantidadeSolicitada }}"
                                   class="form-control" id="quantidadeSolicitada"
                                   name="quantidadeSolicitada" placeholder="Quantidade Solicitada" required>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="status" class="col-lg-2 control-label">Status do Emprestimo</label>
                        <div class="col-lg-10">
                            <input type="hidden" name="idEmprestimo" value="{{ emprestimo.id }}">
                            <select name="status" id="status" class="form-control">
                                <option {% if emprestimo.status.id == 1 %} selected {% endif %} value="1" >Aguardando Aprovação</option>
                                <option {% if emprestimo.status.id == 2 %} selected {% endif %} value="2" >Em emprestimo</option>
                                <option {% if emprestimo.status.id == 3 %} selected {% endif %} value="3" >Devolvido</option>
                                <option {% if emprestimo.status.id == 4 %} selected {% endif %} value="4" >Cancelado</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <a href="/home" class="btn btn-danger">Cancelar</a>
                            <button type="submit" class="btn btn-success">Alterar Status do Emprestimo</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}