{% extends "layout_logado.twig" %}
{% block title %} Página Inicial {% endblock %}
{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Minhas Reservas</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <table class="table table-striped table-hover ">
                                <thead>
                                <tr>
                                    <th>Cod. da Reserva</th>
                                    <th>Data Emprestimo</th>
                                    <th>Data Devolução</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for emprestimo in funcionario.emprestimos %}
                                    <tr {% if emprestimo.status.id == 4 %} class="danger" {% elseif emprestimo.status.id == 2 %} class="success" {% elseif emprestimo.status.id == 1 %} class="warning" {% endif %}>
                                        <td>{{ emprestimo.id }}</td>
                                        <td>{{ emprestimo.dataEmprestimo.format('d/m/Y') }}</td>
                                        <td>{{ emprestimo.dataDevolucao.format('d/m/Y') }}</td>
                                        <td>{{ emprestimo.status.status }}</td>
                                        <td>
                                            {% if emprestimo.status.id == 1 %}
                                                <a href="/home/reserva/cancelar/{{ emprestimo.id }}"
                                                   onclick="javascript: if(confirm('Você realmente deseja cancelar a reserva ?') == false) return false"
                                                   class="btn btn-danger">Cancelar Reserva</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if funcionario.nivelDeAcesso > 0 %}
        <section class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Solicitações de Equipamentos</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped table-hover ">
                                <thead>
                                <tr>
                                    <th>Cod. da Reserva</th>
                                    <th>Funcionário</th>
                                    <th>Data Emprestimo</th>
                                    <th>Data Devolução</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for emprestimo in emprestimos %}
                                    <tr {% if emprestimo.status.id == 4 %} class="danger" {% elseif emprestimo.status.id == 2 %} class="success" {% elseif emprestimo.status.id == 1 %} class="warning" {% endif %}>
                                        <td>{{ emprestimo.id }}</td>
                                        <td>{{ emprestimo.funcionario.nome }}</td>
                                        <td>{{ emprestimo.dataEmprestimo.format('d/m/Y') }}</td>
                                        <td>{{ emprestimo.dataDevolucao.format('d/m/Y') }}</td>
                                        <td>{{ emprestimo.status.status }}</td>
                                        <td>
                                            {% if emprestimo.status.id == 1 or emprestimo.status.id == 2 %}
                                                <a href="" class="btn btn-primary">Alterar
                                                    Status</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}
