{% extends "layout_logado.twig" %}
{% block title %} Equipamentos {% endblock %}
{% block content %}

    <section class="container">
        <header class="row">
            <div class="col-md-12">
                <h1>Equipamentos</h1>
            </div>
        </header>
        <div class="row">
            <div class="col-md-2 col-md-offset-10">
                <a href="/home/equipamento/cadastro" class="btn btn-default">Cadastrar Novo</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-hover ">
                    <thead>
                    <tr>
                        <th>Número de Patrimônio</th>
                        <th>Equipamento</th>
                        <th>Tipo</th>
                        <th>Descrição</th>
                        <th>Marca/Modelo</th>
                        <th>Qtd Disponível</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for equipamento in equipamentos %}
                        <tr>
                            <td>{{ equipamento.numPatrimonio }}</td>
                            <td>{{ equipamento.nome }}</td>
                            <td>{{ equipamento.tipo }}</td>
                            <td>{{ equipamento.descricao }}</td>
                            <td>{{ equipamento.marca }}/{{ equipamento.modelo }}</td>
                            <td>{{ equipamento.quantidadeDisponivel }}</td>
                            <td>
                                <a href="/home/equipamento/alteracao/{{ equipamento.numPatrimonio }}"
                                   class="btn btn-warning">Alterar</a>
                                <a href="/home/equipamento/remover/{{ equipamento.numPatrimonio }}"
                                   class="btn btn-danger">Remover</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

{% endblock %}